@page "/"
@inject ISeriesGenerator _seriesGenerator

<div class="row">
    <div class="col-6 p-2">
        <SerieChart Label="Exponent Serie" Serie="_serieForExponent" EquationType="SeriesAnalysis.Constants.EquationType.EXPONENTIAL" />
    </div>
    <div class="col-6 p-2">
        <SerieChart Label="Logarithm Serie" Serie="_serieForLogarithm" EquationType="SeriesAnalysis.Constants.EquationType.LOGARITHMIC" />
    </div>
</div>
<div class="row">
    <div class="col-6 me-2"><SerieChart Label="Polynom Serie" Serie="_serieForPolynom" EquationType="SeriesAnalysis.Constants.EquationType.POLYNOMIAL" /></div>
</div>


@code {
    private Serie _serieForExponent;
    private Serie _serieForPolynom;
    private Serie _serieForLogarithm;

    protected override Task OnInitializedAsync()
    {
        _serieForExponent = _seriesGenerator.GenerateSerieForExponent(1, 0.15, 20);
        _serieForLogarithm = _seriesGenerator.GenerateSerieForLogarithm(1, 0.35, 20);
        _serieForPolynom = _seriesGenerator.GenerateSerieForPolynom(1, 0.55, 20, 4);
        return base.OnInitializedAsync();
    }
}